.contact-form-container {
    display: flex;
    background: #ffe26d;
    width: 100vw;
    .map {
        min-width: 50%;
    }

    .contact-form {
        margin: 2rem;
        display: flex;
        flex-direction: column;
        width: 50%;
        form {
            min-width: 100%;
            input,
            textarea {
                padding: 0.8rem 1.01rem;
                min-width: 60%;
            }
            button {
                padding: 0.8rem 1.01rem;
                margin-top: 2rem;
                background: #61497c;
                color: #fff;
                cursor: pointer;
                min-width: 60%;
            }
        }
    }
}
