.hero {
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15vw;
    margin: 0;
    color: #fff;
    transition: background 0.5s ease-in-out;

    h1 {
        position: relative;
        font-size: 3rem;
    }
    h3 {
        transition: all 0.3s ease-out;
    }
    .button-grp {
        button {
            padding: 0.6rem 1.2rem;
            cursor: pointer;
            &:hover {
                background: #c5b67d;
                color: #fff;
            }
        }
    }
    .slideshow-navigation {
        button[type="radio"] {
            transform: translateY(31vh);
            border-radius: 50%;
            width: 0.6rem;
            height: 0.6rem;
            cursor: pointer;
        }
    }
}
