.newsletter {
    background: url("/single-page-website/assets/images/newsletter-background.jpeg") center center;
    min-height: 50vh;
    text-align: center;
    padding-top: 5%;
    input,
    button {
        padding: 0.8rem 1.01rem;
    }
    button {
        background: #ffe26d;
        cursor: pointer;
        &:hover {
            background: #61497c;
            color: white;
        }
    }
    h1 {
        padding-bottom: 2rem;
        color: #fff;
    }
}
