.container {
    padding: 1.5rem 0 2rem 0;
    .pricing {
        text-align: center;
        h1 {
            font-size: 2rem;
        }

        .pricing-panel {
            display: flex;
            justify-content: space-evenly;
            margin-top: 3rem;
            div {
                price {
                    font-size: large;
                    color: rgba($color: #272727, $alpha: 0.5);
                }
                h3 {
                    margin-bottom: 10px;
                }
                ul {
                    margin-top: 10px;
                    list-style: none;
                    li {
                        margin: 0.2rem;
                    }
                }
                button {
                    padding: 2px 20px;
                    margin-top: 1.2rem;
                    cursor: pointer;
                    transition: transform 0.3s ease;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}
