.video-projects {
    background: #61497b;
    padding-top: 2rem;
    width: 100vw;

    h1 {
        text-align: center;
        margin: 2rem 0 4rem 0;
    }
    .video-slider {
        display: flex;
        padding-bottom: 3rem;
        overflow-x: scroll;
        &::-webkit-scrollbar {
            background: rgba($color: #fff, $alpha: 0.9);
        }

        .project-video {
            margin: 0 1.5rem 1.2rem 0;
        }
    }
}
